{% extends "base.html" %}

{% block content %}
    <div class="w3-panel">
        Náš kód je dostupný na:<br/> <a href="https://github.com/jurajmajer/traffic-accidents-visualization"><img src="/static/GitHub_Logo.png" style="height:90px;" /></a>
    </div>
    <div class="w3-panel">
        Zdrojom údajov o dopravných nehodách na tejto stránke je systém <a href="http://www.odoprave.info">www.odoprave.info</a> prevádzkovaný <a href="https://www.mindop.sk/">Ministerstvom dopravy a výstavby SR</a>.<br/>
        Údaje sa aktualizujú jedenkrát za deň, vždy o 01:00 v noci za predchádzajúci deň.<br/>
        Dáta referenčnej siete pozemných komunikácií SR čerpáme z <a href="https://ismcs.cdb.sk/">Portálu IS MCS</a>.<br/>
    </div>
    <div class="w3-panel" style="margin-bottom:33%;">
        Všetky podnety a pripomienky radi privítame na adrese <a href="mailto:nehodovost@kayaposoft.com">nehodovost@kayaposoft.com</a>.
    </div>
{% endblock %}
