{% extends "content_page.html" %}

{% block head %}
	<script>
		function refreshAll()
		{
			refresh("/api/map/choropleth_county", "choropleth_map")
			refresh("/api/figure/total_accidents_by_county", "total_accidents_by_county_plot")
		}
	</script>
{% endblock %}

{% block content %}
    <h2 class="w3-panel" style="margin-top:45px;">Absolútny počet nehôd podľa kraja (<span id="choropleth_map-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="choropleth_map-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
    <div id="choropleth_map" style="height:600px;" class="figure-general">
		<script>
		  var data = {{choropleth_map}};
		  Plotly.plot('choropleth_map', data, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Absolútny počet nehôd podľa kraja (<span id="total_accidents_by_county_plot-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="total_accidents_by_county_plot-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
	<div id="total_accidents_by_county_plot" class="figure-general">
		<script>
		  var graphs = {{total_accidents_by_county_plot}};
		  Plotly.plot('total_accidents_by_county_plot', graphs, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Bližšie info o jednotlivých krajoch</h2>
	{% for group in county_groups %}
    	<div class="w3-row-padding detail-row-margin-bottom">
        	{% for group_item in group %}
            	<div class="w3-quarter detail-item">
                  <div class="w3-container w3-lime w3-padding-16">
                    <h3><a href="/county_detail/{{group_item[0]}}">{{group_item[1]}}</a></h3>
                  </div>
                </div>
        	{% endfor %}
    	</div>
	{% endfor %}
{% endblock %}