{% extends "base.html" %}

{% block head %}
	<script>
		function refreshAll()
		{
			refresh("/api/map/choropleth_county", "choropleth_map")
			refresh("/api/figure/total_accidents_by_county", "plot1")
		}
		
		$(function() {
		
			var choroplethDiv = document.getElementById('choropleth_map')
			choroplethDiv.on('plotly_click', function(data){
				if(data.points.length > 0)
				{
					var url = "/county_detail/" + data.points[0].properties.IDN4
					window.location.href = url
				}
			});
			
			var plotDiv = document.getElementById('plot1')
			plotDiv.on('plotly_click', function(data){
				if(data.points.length > 0)
				{
					var url = "/county_detail/" + data.points[0].customdata[0]
					window.location.href = url
				}
			});
		});
	</script>
{% endblock %}

{% block content %}
    <div id="choropleth_map" style="height:600px;">
		<script>
		  var data = {{choropleth_map}};
		  Plotly.plot('choropleth_map', data, {});
		</script>
	</div>
	
	<div id="plot1" style="height:600px;">
		<script>
		  var graphs = {{plot1}};
		  Plotly.plot('plot1', graphs, {});
		</script>
	</div>
{% endblock %}