{% extends "content_page.html" %}

{% block head_content %}
	<script>
        
		function refreshAll()
		{
			refresh("/api/map/choropleth_district", "choropleth_map")
			refresh("/api/figure/total_accidents_by_district", "total_accidents_by_district_plot")
		}
	
	</script>
{% endblock %}

{% block content %}
    <h2 class="w3-panel" style="margin-top:45px;">Celkový počet nehôd podľa okresu (<span id="choropleth_map-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="choropleth_map-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
    <div id="choropleth_map" style="height:600px;" class="figure-general">
		<script>
		  Plotly.plot('choropleth_map', loading_graph_data, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Celkový počet nehôd podľa okresu (<span id="total_accidents_by_district_plot-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="total_accidents_by_district_plot-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
	<div id="total_accidents_by_district_plot" class="figure-general">
		<script>
		  Plotly.plot('total_accidents_by_district_plot', loading_graph_data, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Bližšie info o jednotlivých okresoch</h2>
	{% for districts_in_county in district_groups %}
    	<h3 class="w3-panel" style="margin-top:25px;">{{districts_in_county[0]}}:</h3>
    	{% for group in districts_in_county[1] %}
        	<div class="w3-row-padding detail-row-margin-bottom">
            	{% for group_item in group %}
                	<div class="w3-quarter detail-item">
                      <div class="w3-container w3-lime w3-padding-16">
                        <h3><a href="/district_detail/{{group_item[0]}}">{{group_item[1]}}</a></h3>
                      </div>
                    </div>
            	{% endfor %}
        	</div>
        {% endfor %}
	{% endfor %}
	
{% endblock %}