{% extends "content_page.html" %}

{% block head_content %}
	<script>
        
		function refreshAll()
		{
			refresh("/api/map/district/frequent_accidents/{{district_id}}", "frequent_accidents_map")
			refresh("/api/figure/accident_trend_in_district/{{district_id}}", "accident_trend_bar_plot")
		}
	
	</script>
{% endblock %}

{% block content %}
    <h2 class="w3-panel" style="margin-top:45px;">20 najnehodovejších úsekov v okrese {{district_name}} (<span id="frequent_accidents_map-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="frequent_accidents_map-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
    <p class="w3-panel">Do úvahy sa berie počet nehôd v okruhu 500 metrov.</p>
	<div id="frequent_accidents_map" class="figure-general" style="height:800px;">
		<script>
		  Plotly.plot('frequent_accidents_map', loading_graph_data, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Počet dopravných nehôd za deň v okrese {{district_name}} (<span id="accident_trend_bar_plot-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="accident_trend_bar_plot-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
	<div id="accident_trend_bar_plot" class="figure-general">
		<script>
		  Plotly.plot('accident_trend_bar_plot', loading_graph_data, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Bližšie info o okresoch v rovnakom kraji:</h2>
	{% for group in district_groups %}
    	<div class="w3-row-padding detail-row-margin-bottom">
        	{% for group_item in group %}
            	<div class="w3-quarter detail-item">
                  <div class="w3-container w3-lime w3-padding-16">
                    <h3><a href="/district_detail/{{group_item[0]}}">{{group_item[1]}}</a></h3>
                  </div>
                </div>
        	{% endfor %}
    	</div>
	{% endfor %}
{% endblock %}