{% extends "base.html" %}

{% block head %}
	<script>
        
		function refreshAll()
		{
			refresh("/api/map/district_detail_map/{{district_id}}", "detail_map")
			refresh("/api/figure/accident_trend_in_district/{{district_id}}", "accident_trend_bar_plot")
		}
	
	</script>
{% endblock %}

{% block content %}
    <div id="detail_map" style="height:800px;">
		<script>
		  var data = {{detail_map}};
		  Plotly.plot('detail_map', data, {});
		</script>
	</div>
	
	<div id="accident_trend_bar_plot">
		<script>
		  var graphs = {{accident_trend_bar_plot}};
		  Plotly.plot('accident_trend_bar_plot', graphs, {});
		</script>
	</div>
{% endblock %}