<html>
    <head>
        <title>Traffic accidents</title>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script>
    	
    	$(document).ready(function(){
            req = $.ajax({
                url : "/api/figure/total_accidents_by_days",
                type : "GET"
            });
    
            req.done(function(data) {
                $("#image").fadeOut(100).fadeIn(300);
                Plotly.newPlot('image', data, {});     
            });
        });
    	
    	</script>
    </head>
    <body>
        <div id="image">
            <script>
              var graphs = {{image}};

              Plotly.plot('image', graphs, {});
            </script>
        </div>
        {{ plot1 }}
		{{ plot2 }}
		{{ plot3 }}
		{{ plot4 }}
		{{ plot5 }}
    </body>
</html>