<html>
    <head>
        <title>Traffic accidents</title>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script>
        
            $(document).ready(function(){
                $( "#s" ).change(function() {
                  refreshAll()
                });
                $( "#e" ).change(function() {
                  refreshAll()
                });
            });
            
            function refreshAll()
            {
                refresh("/api/map/1", "map1")
            }
            
            function refresh(url, plotId) {
                req = $.ajax({
                    url : url,
                    type : "GET",
                    data: {s: $("#s").val(), e: $("#e").val()}
                });
        
                req.done(function(data) {
                    $("#"+plotId).fadeOut(100).fadeIn(300);
                    Plotly.react(plotId, data, {});     
                });
            }
    	
    	</script>
    </head>
    <body>
        <form id="form1" action="#">
          <label for="s">Date from:</label>
          <input type="date" id="s" name="s" value="{{ start_date }}" />
          <label style="margin-left:30px;" for="e">Date to:</label>
          <input type="date" id="e" name="e" value="{{ end_date }}" /><br/>
        </form>
        
        <div id="map1" style="height:1300px;">
            <script>
              var data = {{map1}};
              Plotly.plot('map1', data, {});
            </script>
        </div>

    </body>
</html>