{% extends "content_page.html" %}

{% block head %}
	<script>
		function refreshAll()
		{
			refresh("/api/figure/avg_accidents_by_weekdays", "plot1")
			refresh("/api/figure/accident_by_time_in_day", "plot2")
			refresh("/api/figure/total_accidents_by_city", "plot3")
		}
	</script>
{% endblock %}

{% block content %}
    <h2 class="w3-panel" style="margin-top:45px;">Priemerný počet nehôd podľa dňa v týždni (<span id="plot1-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="plot1-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
    <div id="plot1" class="figure-general">
		<script>
		  var graphs = {{plot1}};
		  Plotly.plot('plot1', graphs, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Percento nehôd podľa hodiny počas dňa (<span id="plot2-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="plot2-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
	<div id="plot2" class="figure-general">
		<script>
		  var graphs = {{plot2}};
		  Plotly.plot('plot2', graphs, {});
		</script>
	</div>
	
	<h2 class="w3-panel" style="margin-top:45px;">Celkový počet nehôd podľa obce - TOP 50 (<span id="plot3-start-date-label">{{start_date.strftime("%d %b %Y")}}</span> - <span id="plot3-end-date-label">{{end_date.strftime("%d %b %Y")}}</span>)</h2>
	<div id="plot3" class="figure-general">
		<script>
		  var graphs = {{plot3}};
		  Plotly.plot('plot3', graphs, {});
		</script>
	</div>
{% endblock %}
